<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831099670089-53f4icdhgn3av2i1f1hgcf23egpmaq4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831099670089-53f4icdhgn3av2i1f1hgcf23egpmaq4c</string>
	<key>API_KEY</key>
	<string>AIzaSyAKk_9ffxrufE2BToUNTabmU9Ayb7yjQuY</string>
	<key>GCM_SENDER_ID</key>
	<string>831099670089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Budget</string>
	<key>PROJECT_ID</key>
	<string>budget2-50400</string>
	<key>STORAGE_BUCKET</key>
	<string>budget2-50400.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831099670089:ios:48d57049a7b263e881f998</string>
	<key>DATABASE_URL</key>
	<string>https://budget2-50400.firebaseio.com</string>
</dict>
</plist>